# Used to package the debian package
# Pins versions to ensure the package is built consistently and reproducibly

flask==2.3.2
flask-events==0.7.0
mohawk==1.0.0
pyyaml==6.0.2
requests==2.32.3
gevent==24.11.1
gunicorn==19.9.0

# gevent deps
greenlet==3.1.1
zope.event==5.0
zope.interface==7.2

# flask deps
Jinja2==3.1.5
MarkupSafe==3.0.2
Werkzeug==3.1.3
click==8.1.8
itsdangerous==2.2.0

# mohawk deps
six==1.12.0

# requests deps
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.0
